@tailwind base;
@tailwind components;
@tailwind utilities;


.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.outer {
  width: 300px;
  height: 300px;
}

.middle {
  width: 200px;
  height: 200px;
}

.inner {
  width: 100px;
  height: 100px;
}